---
	import Layout from "../layouts/layout.astro";
---

<Layout> 
	<h1>About Page...</h1>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, explicabo voluptas repellat rerum dolor cumque itaque commodi error unde vitae. Ratione vitae, impedit nemo quisquam deserunt magnam ut praesentium aspernatur eos voluptas maiores? Esse deserunt quam minima similique tempora. Placeat impedit atque repellat et porro nobis repellendus corporis corrupti quis? Sequi vero animi laborum. Nam facere quidem aliquid nemo ducimus adipisci? Molestias minus blanditiis repellat temporibus amet, nemo maxime doloribus odit ex quas illo illum recusandae enim, neque, laboriosam reprehenderit. Id, consequatur voluptas architecto alias, suscipit sunt eligendi sequi, animi iste minus odit ullam. Aut aperiam quisquam perferendis unde maiores.
</Layout>