<footer class="bg-zinc-900 py-10 mt-4">
    <div class="container mx-auto flex flex-col md:flex-row justify-evenly text-center md:text-left gap-4">
        <div class="flex flex-col">
            <h4 class="font-bold text-xl">Site Map</h4>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/princing">error</a>
        </div>
        <div>
            <h4 class="font-bold text-xl" >Site Map</h4>
            <p>Lorem, ipsum dolor.</p>
            <p>Lorem, ipsum dolor.</p>
            <p>Lorem, ipsum dolor.</p>
        </div>
        <div class="flex flex-col">
            <h4 class="font-bold text-xl">Social</h4>
            <a href="/">Facebook</a>
            <a href="/about">Instagram</a>     
            <a href="/princing">Twiter</a>
            <a href="/princing">Tik Tok</a>       
        </div>
    </div>
</footer>